/* desktop */
@media(min-width: 1024px) {
  .header-item {
    width: 18em;
  }
}

.filter-area {
  color: #e6b004;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header item, .filter-box {
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 8px;
  outline:none;
  min-height: 2em;
}