/* mobile */
@media(max-width: 1023px) {
  .movie-item {
    min-width: 250px;
  }
}

img {
  height: 100%;
}

.movie-item {
  border: 0.4px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #69D2E7;
}

.movie-item ul {
  list-style: none;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.movie-item ul li {
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-item h2 {
  padding: 20px;
  margin: 0;
  padding-bottom: 0;
  text-align: center;
}

.flip-container {
	perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 300px;
	height: 400px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.back {
	transform: rotateY(180deg);
}