.header, .buttonsWrapper {
  text-align: center;
}

ul {
  list-style: none;
  padding: 20px;
}

ul input {
  display: block;
  outline: none;
  width: 100%;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.modal {
  min-width: 25em;
}

span {
  margin: '0 0 0.5em 0',
}

.error {
  color: red;
}

.main ul {
  padding: 0;
}