body {
  background-color: #F38630;
}

#full {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#full h1 {
  text-align: center;
  margin-bottom: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}